body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 100px #008f73;
}

.logo {
    width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 40px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.active {
    color: #008f73;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.member {
    width: 150px; /* Ajusta el tamaño del contenedor */
    text-align: center;
}

.member img {
    width: 100%;
    border-radius: 20px;
    
}

.member p {
    font-size: 14px;
    margin-top: 10px;
}
